.projects {
    margin: 100px 100px 40px 100px;

    &-title {
        font-variant-caps: small-caps;
        padding-bottom: 10px;
        
        span {
            font-size: 12px;
        }
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }

    &.still-projects {
        margin-top: 0px;
    }
}