@import "../Utils/SectionTitle.scss";
@import "../Utils/TitleApp.scss";

.activities {
    text-align: center;
    margin: 40px 0;
    padding-bottom: 35px;

    &-title {
        &-visible {
            @include titleApp;
        }
        
        &-content {
            @include section-title;   
        }
    }

    &-content {
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        > div {
            margin-left: auto;
            margin-right: auto;
        }
    }
}