.activities {
    text-align: center;
    margin: 40px 0;
    padding-bottom: 35px;

    &-title {
        font-variant-caps: small-caps;
        font-size: 28px;
        font-weight: 600;
    }

    &-content {
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        > div {
            margin-left: auto;
            margin-right: auto;
        }
    }
}