.header {
    position: fixed;
    width: 100vw;
    top: 0;
    background-color: rgb(4, 4, 50);
    z-index: 1555;

    &-bar {
        display: flex;
        padding: 10px 100px;
        align-items: center;
        justify-content: space-between;

        &-logo {
            &-content {
                width: 50px;
            }
        }
        
        &-nav {
            &-ul {
                display: flex;  
                gap: 20px;
                list-style-type: none;
                
                &-choice {
                    font-size: 17px;
                    font-variant-caps: small-caps;
                    position: relative;
        
                    &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        height: 1px;
                        background-color: goldenrod;
                        transform: scale(0);
                        width: 100%;
                        bottom: 0;
                        transition: transform .3s ease;
                    }
        
                    &:hover::after {    
                        transform: scale(100%);
                    }

                    a {
                        cursor: pointer;
                        color: goldenrod;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 750px) {
    .header-bar {
        padding: 10px 60px;
    }
}

@media all and (max-width: 550px) {
    .header-bar {
        padding: 10px 0;
        width: 90%;
        margin: auto;
    }
}

@media all and (max-width: 425px) {
    .header-bar {
        &-logo-content {
            width: 40px;
        }

        &-nav-ul {
            gap: 10px;
        
            &-choice {
                font-size: 16px;
            }
        }
    }}