.header {
    position: fixed;
    width: 100vw;
    top: 0;
    background-color: rgb(4, 4, 50);
    z-index: 1555;

    &-bar {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: 3 auto;
        margin: 15px 100px ;
        align-items: center;
        gap: 20%;

        &-logo {
            &-content {
                width: 50px;
            }
        }
        &-title{
            grid-column: 1;
            grid-row: 1;
            display: flex;
            
            color: goldenrod;
            font-variant-caps: petite-caps;
            letter-spacing: 7px;
        }
        &-row button{
            display: none;
            text-decoration: none;
            color: goldenrod;
            transition: 0.5s;
            font-size: 30px;
        }
        &-nav {
            &-ul {
                grid-column: 2;
                grid-row: 1;
                display: flex;
                list-style: none;
                gap: 20px;
                list-style-type: none;
                
                &-choice {
                    font-size: 17px;
                    font-variant-caps: small-caps;
                    position: relative;
        
                    &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        height: 1px;
                        background-color: goldenrod;
                        transform: scale(0);
                        width: 100%;
                        bottom: 0;
                        transition: transform .3s ease;
                    }
        
                    &:hover::after {    
                        transform: scale(100%);
                    }

                    a {
                        cursor: pointer;
                        grid-column: 2;
                        grid-row: 1;
                        color: goldenrod;
                    }
                }
            }
        }
    }
}

.header-bar-nav-menu{
  display: flex;
  padding-left: 15px;
  justify-content: center; 
  align-items: center;
  
}
.header-bar-nav-ul-menu{
  grid-column: 2;
  grid-row: 2;
  display: flex;
  list-style: none;
  gap: 15px;
  list-style-type: none;
 
}
.header-bar-nav-ul-choice-menu{
  font-size: 15px;
  font-variant-caps: small-caps;
  position: relative;
  color: goldenrod;
}

.header-bar-nav-ul-choice-menu::after {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  background-color: goldenrod;
  transform: scale(0);
  width: 100%;
  bottom: 0;
  transition: transform 0.3s ease;
}
.header-bar-nav-ul-choice-menu:hover::after {
  transform: scale(100%);
}
.header-bar-nav-ul-choice-menu a {
  cursor: pointer;
 
  color: goldenrod;
}


@media all and (min-width: 937px) {
  .header-bar-nav-menu{
    display: none;
  }
}
@media all and (max-width: 936px) {
   
    .header-bar-nav {
      display: none;
  }
  
    .header-bar-row button{
      display: block;
      text-align: right;
    }
  
  }
@media all and (max-width: 750px) {
  .header-bar {
    margin: 10px 40px ;
   
  }
  .header-bar-nav {
    display: none;
}

  .header-bar-row button{
    display: block;
  }
  
}
@media all and (max-width: 550px) {
  .header-bar {
    
    width: 90%;
    margin: auto;
    margin: 5px 25px ;
  }

}

@media all and (max-width: 431px) { /*taille de l'iphone 15*/
  .header-bar {
    
    width: 50%;
   
    margin: 5px 0px 0 15px;
  }  
  .main-page {
    height: 100vh;
    background-image: url("../../assets/naoP.png");/* https://unsplash.com/fr/photos/yLcK3Itx6ok */
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   
  }
}
@media all and (max-width: 376px) {
  .header-bar {
    
    width: 50%;
    gap:15%;
    margin: 5px 10px;
  }  
  .main-page {
    height: 100vh;
    background-image: url("../../assets/naoP.png");/* https://unsplash.com/fr/photos/yLcK3Itx6ok */
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   
  }
}