@import "../Utils/CenterAbsol.scss";
@import "../Utils/TitleApp.scss";

.main-page {
    height: 100vh;
    background-image: url("../../assets/ArrivalImage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &::after {
        position: absolute;
        content: "";
        background-color: #222;
        opacity: .6;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    &-info {
        @include center-absol;
        text-align: center;
        z-index: 1000;
        color: goldenrod;
        font-variant-caps: petite-caps;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-title {
            @include titleApp;
            &-content {
                font-size: 35px;
                font-weight: 500;
                letter-spacing: 7px;
            }   
        }   

        &-slogan {
            width: 85vw;
            font-size: 25px;
            font-weight: 500;
            opacity: 0;
            animation: apparitionTitle .8s ease-in .5s forwards;

            @media all and (max-width: 750px) { 
                font-weight: normal;
            }
        }
    }
}

@keyframes appScaleWidth {
    to {
        width: 100px;
    }
}