.main-page {
    height: 100vh;
    background-image: url("../../assets/ArrivalImage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &::after {
        position: absolute;
        content: "";
        background-color: #573103;
        opacity: .3;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }
}