@import "../Utils/ButtonPrimary.scss";
@import '../Utils/SectionTitle.scss';

.home-nav {
    text-align: center;

    .home-nav-title, .home-nav-text, .home-nav-button {
        opacity: 0;
    }

    &-visible {
        .home-nav-title, .home-nav-text, .home-nav-button {
            animation: apparitionTitle .6s linear forwards;
        }

        .home-nav-button {
            animation-delay: .4s;
        }
    }

    &-title {
        @include section-title;
        margin-bottom: 10px;
    }

    &-text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        height: 120px;
        width: 80%;
        margin: auto;
    }

    &-button {
        @include button-primary(500px, 60px);
        transform: translateY(25px);
    }
}

@media all and (max-width: 1050px) {
    .home-nav {
        &-text {
            -webkit-line-clamp: initial;
            height: fit-content;
            padding: 0 0 15px 0;
        }

        &-button {
            margin-bottom: 45px;
        }
    }
}

@media all and (max-width: 550px) {
    .home-nav-button {
        @include button-primary(calc(100% - 50px), 60px);
    }
}