.activity {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 300px;
    opacity: 0;
    transform: translateY(-50px);
    animation: goBack 1s ease 1 forwards;
    
    &-shape {
        height: 280px;
        width: 280px;
        clip-path: polygon(0 30%, 50% 0, 100% 30%, 100% 70%, 50% 100%, 0 70%);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        
        &-overlay {
          animation: appBox 2.5s ease 1 forwards;
          top: 0;
          width: 100%;
          height: 0%;
          background-color: rgb(4, 4, 50);
          position: absolute;
          z-index: -5;
        }

        &-content {
            height: 240px;
            width: 240px;
            clip-path: polygon(0 30%, 50% 0, 100% 30%, 100% 70%, 50% 100%, 0 70%);
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                font-size: 50px;
            }
        }
    }

    &-description {
        font-size: 18px;
        font-weight: 600;
        margin-top: 10px;
        font-variant-caps: small-caps;
    }
}

@keyframes appBox {
    from { height: 0%; } 
    to { height: 100%; }
}

@keyframes goBack {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}