*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: goldenrod;
}

.modal-layout {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(50, 50, 50, 0.9);
  z-index: 1000;
}

@keyframes apparitionTitle {
  to {
    transform: translate(0);
    opacity: 1;
  }
}
a {
  text-decoration: none;
  color: black;
}

body, #root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.projects-section {
  margin-top: 100px;
}
.projects-section .projects {
  margin: 0px 100px 40px 100px;
}
.projects-section .projects-title {
  font-variant-caps: small-caps;
  padding-bottom: 10px;
}
.projects-section .projects-title span {
  font-size: 12px;
}
.projects-section .projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.contact-us {
  padding-bottom: 75px;
  padding-top: 40px;
  position: relative;
}
.contact-us-visible .contact-us-title {
  overflow: hidden;
}
.contact-us-visible .contact-us-title h1, .contact-us-visible .contact-us-title h2, .contact-us-visible .contact-us-title h3, .contact-us-visible .contact-us-title h4, .contact-us-visible .contact-us-title h5, .contact-us-visible .contact-us-title h6 {
  transform: translateY(100%);
  animation: apparitionTitle 1s cubic-bezier(0.17, 0.67, 0.11, 0.88) forwards;
  text-align: center;
}
.contact-us::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.5;
}
.contact-us-title {
  position: relative;
  z-index: 15;
}
.contact-us-title h3 {
  opacity: 0;
  padding-top: 40px;
  padding-bottom: 25px;
  font-variant-caps: small-caps;
  font-size: 28px;
  font-weight: 600;
  color: rgb(4, 4, 50);
}
.contact-us .contact-form {
  position: relative;
  z-index: 15;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.contact-us .contact-form .input-contact, .contact-us .contact-form button {
  width: 555px;
  outline: none;
  box-shadow: none;
  opacity: 0;
}
.contact-us .contact-form .input-contact {
  border: 1px solid #eef2f6;
  background: #f6f8fa;
  color: #555;
  padding: 8px;
}
.contact-us .contact-form .input-contact:not(textarea), .contact-us .contact-form button {
  transform: translate(25px);
}
.contact-us .contact-form textarea {
  resize: none;
  transform: translate(-25px);
}
.contact-us .contact-form button.little-size-button {
  display: none;
}
.contact-us .contact-form .informations-contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact-us .contact-form .informations-contact .input-contact, .contact-us .contact-form .informations-contact button {
  height: 60px;
}
.contact-us .contact-form .informations-contact button {
  width: 100%;
  height: 60px;
  background: rgb(4, 4, 50);
  border: none;
  color: goldenrod;
  font-size: 18px;
  cursor: pointer;
}
.contact-us .contact-form-visible .input-contact, .contact-us .contact-form-visible button {
  animation: apparitionTitle 0.2s ease forwards;
}
.contact-us .contact-form-visible textarea.input-contact {
  animation-duration: 0.7s;
}
.contact-us .contact-form-visible #name-contact-form {
  animation-delay: 0.2s;
}
.contact-us .contact-form-visible #email-contact-form {
  animation-delay: 0.3s;
}
.contact-us .contact-form-visible #object-contact-form {
  animation-delay: 0.4s;
}
.contact-us .contact-form-visible .button-submit {
  animation-delay: 0.5s;
}

@media all and (max-width: 1200px) {
  .contact-us form .input-contact, .contact-us form button {
    width: 455px;
  }
}
@media all and (max-width: 990px) {
  .contact-form {
    flex-direction: column-reverse;
    align-items: center;
    gap: 15px !important;
  }
  .contact-form .input-contact, .contact-form button {
    width: calc(100vw - 30px) !important;
    max-width: 720px !important;
  }
  .contact-form .little-size-button {
    display: inline-block !important;
    height: 60px;
    background: rgb(4, 4, 50);
    border: none;
    color: goldenrod;
    font-size: 18px;
    cursor: pointer;
  }
  .contact-form button:not(.little-size-button) {
    display: none;
  }
  .contact-form textarea {
    height: 175px;
  }
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgb(4, 4, 50);
  z-index: 1555;
}
.header-bar {
  display: flex;
  padding: 10px 100px;
  align-items: center;
  justify-content: space-between;
}
.header-bar-logo-content {
  width: 50px;
}
.header-bar-nav-ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}
.header-bar-nav-ul-choice {
  font-size: 17px;
  font-variant-caps: small-caps;
  position: relative;
}
.header-bar-nav-ul-choice::after {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  background-color: goldenrod;
  transform: scale(0);
  width: 100%;
  bottom: 0;
  transition: transform 0.3s ease;
}
.header-bar-nav-ul-choice:hover::after {
  transform: scale(100%);
}
.header-bar-nav-ul-choice a {
  cursor: pointer;
  color: goldenrod;
}

.footer {
  background: rgb(4, 4, 50);
  padding: 30px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
  width: 100%;
}
.footer-bar-row {
  width: 100%;
  margin: 15px 0 0 0;
  padding: 0.6% 0%;
  color: goldenrod;
  font-size: 0.8em;
}
.footer-bar-row a {
  text-decoration: none;
  color: goldenrod;
  transition: 0.5s;
  font-size: 16px;
}
.footer-bar-row a:hover {
  color: #fff;
}
.footer-bar-row a i {
  font-size: 2em;
  margin: 0% 1%;
}
.footer-bar-row ul {
  width: 100%;
}
.footer-bar-row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.main-page {
  height: 100vh;
  background-image: url("../../assets/ArrivalImage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.main-page::after {
  position: absolute;
  content: "";
  background-color: #222;
  opacity: 0.6;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.main-page-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1000;
  color: goldenrod;
  font-variant-caps: petite-caps;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-page-info-title {
  overflow: hidden;
}
.main-page-info-title h1, .main-page-info-title h2, .main-page-info-title h3, .main-page-info-title h4, .main-page-info-title h5, .main-page-info-title h6 {
  transform: translateY(100%);
  animation: apparitionTitle 1s cubic-bezier(0.17, 0.67, 0.11, 0.88) forwards;
  text-align: center;
}
.main-page-info-title-content {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 7px;
}
.main-page-info-slogan {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
  opacity: 0;
  animation: apparitionTitle 0.8s ease-in 0.5s forwards;
}
.main-page-sep {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 1px;
  z-index: 1000;
  background-color: goldenrod;
  animation: appScaleWidth 0.7s ease 0.2s forwards;
}

@keyframes appScaleWidth {
  to {
    width: 100px;
  }
}
.home-navigation {
  margin-top: 25px;
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}
.home-navigation-or {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 20px;
  padding-left: 20px;
  color: rgb(4, 4, 50);
  text-transform: uppercase;
}
.home-navigation-sep {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 100px;
  background-color: rgb(4, 4, 50);
}

.activities {
  text-align: center;
  margin: 40px 0;
  padding-bottom: 35px;
}
.activities-title-visible {
  overflow: hidden;
}
.activities-title-visible h1, .activities-title-visible h2, .activities-title-visible h3, .activities-title-visible h4, .activities-title-visible h5, .activities-title-visible h6 {
  transform: translateY(100%);
  animation: apparitionTitle 1s cubic-bezier(0.17, 0.67, 0.11, 0.88) forwards;
  text-align: center;
}
.activities-title-content {
  font-variant-caps: small-caps;
  font-size: 28px;
  font-weight: 600;
  color: rgb(4, 4, 50);
}
.activities-content {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.activities-content > div {
  margin-left: auto;
  margin-right: auto;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(20, 20, 20, 0.9);
  z-index: 1500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-content {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-top: 1px solid white;
  border-left: 1px solid white;
  animation: loadingMovement 0.6s linear infinite;
}

@keyframes loadingMovement {
  to {
    transform: rotate(360deg);
  }
}
.activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 300px;
  opacity: 0;
  transform: translateY(-50px);
}
.activity-visible {
  animation: goBack 1s ease 1 forwards;
}
.activity-visible .activity-shape-overlay {
  animation: appBox 2.5s ease 1 forwards;
}
.activity-shape {
  height: 280px;
  width: 280px;
  clip-path: polygon(0 30%, 50% 0, 100% 30%, 100% 70%, 50% 100%, 0 70%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.activity-shape-overlay {
  top: 0;
  width: 100%;
  height: 0%;
  background-color: rgb(4, 4, 50);
  position: absolute;
  z-index: -5;
}
.activity-shape-content {
  height: 240px;
  width: 240px;
  clip-path: polygon(0 30%, 50% 0, 100% 30%, 100% 70%, 50% 100%, 0 70%);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.activity-shape-content i {
  font-size: 50px;
  color: rgb(4, 4, 50);
}
.activity-description {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  font-variant-caps: small-caps;
}

@keyframes appBox {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
@keyframes goBack {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.star {
  width: 20px;
  height: 20px;
  background-color: goldenrod;
  display: flex;
  justify-content: flex-end;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.star-empty {
  width: 100%;
  height: 100%;
  background-color: rgb(40, 40, 40);
}

.project {
  width: 400px;
  background-color: white;
}
.project-picture img {
  border: 1px solid rgb(4, 4, 40);
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.project-info h4 {
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  font-variant-caps: petite-caps;
}
.project-info-description {
  margin: 20px auto;
  width: 350px;
  height: 80px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.project-info-time {
  display: flex;
  width: 350px;
  margin: auto;
  padding-bottom: 20px;
  justify-content: space-between;
}
.project-info-time h6 {
  font-weight: 600;
  font-size: 17px;
}
.project-info-time-advancement-stars {
  display: flex;
}
.project-gh {
  text-align: center;
  padding-top: 5px;
  border-top: 1px solid rgb(4, 4, 40);
}
.project-gh a {
  color: grey;
  transition: 0.5s;
  font-size: 30px;
}
.project-gh a:hover {
  color: rgb(4, 4, 40);
}

.home-nav {
  text-align: center;
}
.home-nav .home-nav-title, .home-nav .home-nav-text, .home-nav .home-nav-button {
  opacity: 0;
}
.home-nav-visible .home-nav-title, .home-nav-visible .home-nav-text, .home-nav-visible .home-nav-button {
  animation: apparitionTitle 0.6s linear forwards;
}
.home-nav-visible .home-nav-button {
  animation-delay: 0.4s;
}
.home-nav-title {
  font-variant-caps: small-caps;
  font-size: 28px;
  font-weight: 600;
  color: rgb(4, 4, 50);
  margin-bottom: 10px;
}
.home-nav-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  height: 80px;
  width: 80%;
  margin: auto;
}
.home-nav-button {
  width: 500px;
  height: 60px;
  background: rgb(4, 4, 50);
  border: none;
  color: goldenrod;
  font-size: 18px;
  cursor: pointer;
  transform: translateY(25px);
}

/*# sourceMappingURL=index.css.map */
